body{
	font-family:'Trebuchet MS', Arial, 'Times New Roman';
	color: rgb(40,55,71);
	background-color: rgb(243,243,243);
	margin: 0;
}

header, footer{
	background-color:;
}

header h1{
	font-family: Verdana, Arial, 'Times New Roman';
	text-align: center;
	font-size: 2em;
	margin: 0;
	color: rgb(60,24,116);
}

header ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style-type: none;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: rgb(147,36,50)
}

header a{
	color:rgb(60,24,116);
}

main{
	margin: 5px;
}

footer{
	background-color:rgb(40,55,71);
}

footer dl{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer a{
	color:rgb(222,53,76);
}

footer dt{
	text-align: right;
	margin: 10px;
}

footer dd{
	color:rgb(243,243,243);
	width: 50%;
	padding:0;
	margin:0;
}