body{
	font-family: Verdana, Arial, 'Times New Roman';
	color: rgb(40,55,71);
	background-color: rgb(243,243,243);
	margin: 0;
}

header, footer{
	background-color: SlateGrey;
}

header h1{
	text-align: center;
	font-size: 2em;
	margin: 0;
}

header ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style-type: none;
	text-align: center;
	margin: 10;
	background-color: DarkSlateBlue;
}

main{
	margin: 5%;
}


footer{
	color: Black;
}

footer dl{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer dt{
	text-align: right;
	padding-right: 10px;
	margin: 0;
}

footer dd{
	width: 50%;
	padding: 0;
	margin: 0;
}